include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include aqp *.css
recursive-include aqp *.csv
recursive-include aqp *.html
recursive-include aqp *.ico
recursive-include aqp *.js
recursive-include aqp *.json
recursive-include aqp *.md
recursive-include aqp *.png
recursive-include aqp *.py
recursive-include aqp *.svg
recursive-include aqp *.txt
recursive-exclude aqp *.pyc