{% extends "templates/base.html" %}

{% block content %}
<div id="map-container">
	<div id="map-view"></div>
</div>

{% endblock %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/assets/aqi/css/leaflet.css" />
<style>
	#map-container {
		height: 100vh;
		width: 100%;
	}
</style>
{% endblock %}

{% block script %}
{{ include_script("map.bundle.js") }}
<script>
	aqi.make_map_view("#map-view");
</script>
{% endblock %}

{# Remove header and footer #}
{% block navbar %}
{% endblock %}
{% block footer %}
{% endblock %}